@if (IsVisible)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <button type="button" class="close" @onclick="Hide">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@Message</p>
                </div>
                <div class="modal-footer">
                    @if (ShowConfirm)
                    {
                        <button type="button" class="btn btn-primary" @onclick="Confirm">OK</button>
                    }
                   
                    <button type="button" class="btn btn-secondary" @onclick="Hide">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}


@code {
    public bool IsVisible { get; private set; }
    public string Title { get; set; }
    public string Message { get; set; }
    public bool ShowConfirm { get; set; }
    [Parameter] public EventCallback<bool> OnConfirm { get; set; }

    public void Show(string title, string message,bool showConfirm)
    {
        Title = title;
        Message = message;
        IsVisible = true;
        ShowConfirm = showConfirm;
        StateHasChanged();
    }

    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }

    public void Confirm()
    {
        OnConfirm.InvokeAsync(true);
        Hide();
    }
}


