



@if(Images.Count() == 0)
{
    <p>No data found</p>
}
else if (!IsLoadding)
{
    <div class="row">
        @foreach(var item in Images)
        {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="@item.imageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Loading image...</p>
}

@code {

}
