




@if (!IsLoadding)
{
    <div class="row">
        @foreach(var item in Images)
        {
            <div class="col-sm-4 mt-2">
                <div class="card" style="width: 18rem;">
                    <img src="@item.imageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.title</h5>
                        <a href="/image-detail/@item.imageId" class="btn btn-primary">View Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Loading image...</p>
}

@if (Images.Count() == 0 && !IsLoadding)
{
    <p>No data found</p>
}

@code {

}
