




@if (!IsLoadding)
{

  @*   <div class="row ">
        <div class="col-md-12 bg-light" style="max-width:100%; overflow-y: auto">
            @foreach (var item in tags)
            {
                <span class="badge bg-primary" style="margin-left:2px;">@item.Value</span>
            }
        </div>
    </div>
 *@

    <div class="row">
        @foreach(var item in Images)
        {
            <div class="col-sm-3 mt-2">
                <div class="card" style="width: 18rem; height: 18rem; min-height: 18rem;">
                    <img src="@item.imageUrl" class="card-img-top" alt="..." height="160" width="286">
                    <div class="card-body">
                        <h5 class="card-title">@item.title</h5>

                        <div>
                            @foreach(var tag in item.imageMetaDataViewModel.tags.Split(","))
                            {
                                <span class="badge bg-primary" style="margin-left:2px;">#@tag</span>
                            }
                        </div>

                        <a href="/image-detail/@item.imageId" class="btn btn-primary">View Detail</a>
                    </div>
                </div>
            </div>
        }

      
       
    </div>

    <divc class="row justify-content-center mt-4">
        <div class="col-md-3">
            <button class="btn btn-warning" @onclick=LoadPreviousBatch>Back</button>
            <button class="btn btn-warning" @onclick=LoadNextBatch>Next</button>
        </div>
       
    </divc>
}
else
{
    <p>Loading images...</p>
}

@if (Images.Count() == 0 && !IsLoadding)
{
    <p>No data found</p>
}

@code {

}
