




@if (!IsLoadding)
{

    <div class="row">
        <div class="col-md-12 bg-light" style="max-width:100%; overflow-y: auto">
            @foreach (var item in tags)
            {
                <span class="badge bg-primary" style="margin-left:2px;">@item</span>
            }
        </div>
    </div>


    <div class="row">
        @foreach(var item in Images)
        {
            <div class="col-sm-4 mt-2">
                <div class="card" style="width: 18rem;">
                    <img src="@item.imageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.title</h5>
                        <a href="/image-detail/@item.imageId" class="btn btn-primary">View Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Loading images...</p>
}

@if (Images.Count() == 0 && !IsLoadding)
{
    <p>No data found</p>
}

@code {

}
