USE [master]
GO
/****** Object:  Database [LucraTechnicalTest]    Script Date: 12/23/2023 3:00:21 PM ******/
CREATE DATABASE [LucraTechnicalTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LucraTechnicalTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LucraTechnicalTest.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LucraTechnicalTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LucraTechnicalTest_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LucraTechnicalTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LucraTechnicalTest]
GO
/****** Object:  Table [dbo].[ImageData]    Script Date: 12/23/2023 3:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageData](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Data] [varbinary](max) NOT NULL,
	[Base64URL] [varchar](max) NULL,
	[FileType] [nchar](10) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_ImageData] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageMetaData]    Script Date: 12/23/2023 3:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageMetaData](
	[ImageMetaDataId] [int] IDENTITY(1,1) NOT NULL,
	[Tags] [varchar](max) NULL,
	[Categories] [varchar](50) NULL,
	[ImageId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_ImageMetaData] PRIMARY KEY CLUSTERED 
(
	[ImageMetaDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImageData] ADD  CONSTRAINT [DF_ImageData_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ImageData] ADD  CONSTRAINT [DF_ImageData_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ImageMetaData] ADD  CONSTRAINT [DF_ImageMetaData_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ImageMetaData]  WITH CHECK ADD  CONSTRAINT [FK_ImageMetaData_ImageData] FOREIGN KEY([ImageId])
REFERENCES [dbo].[ImageData] ([ImageId])
GO
ALTER TABLE [dbo].[ImageMetaData] CHECK CONSTRAINT [FK_ImageMetaData_ImageData]
GO
USE [master]
GO
